include lib/mixin.jade
include lib/markdown-editor.jade
extends normal-page
block append head
    title= 'Blog administration'
block body
    div.compose
        form.markdown-editor(method='POST', action='/post')
            div
                label Title
                input(type='text', name='title')
            div
                label Content
                textarea.editor(name='body')
            input(type='submit', value='submit')

