!!!
html
    head
        title Blogcraft administration
        meta(name='viewport', content='width-device-width, initial-scale=1.0')
        link(type='text/css', rel='stylesheet', href='/static/blogcraft.css')
        style(type='text/css')
            body {
                padding: 50px
            }
            textarea {
                width: 100%;
                min-height: 400px;
                font-family: monospace;

            }
    body
        .navbar.navbar-inverse.navbar-fixed-top
            .navbar-inner
                .container
                    button.btn.btn-navbar(type='button',
                        data-toggle='collapse',
                        data-target='.nav-collapse')
                    a.brand(href='#') Blogcraft
                    .nav-collapse.collapse
                        ul.nav.nav-list
                            li.span1
                                a.active(data-toggle='nav-list',
                                    href='#compose-blog').
                                    Compose
                            li.span1
                                a(data-toggle='nav-list',
                                    href='#compose-blog').
                                    Admin

        .container
            .tabbale.tabs-left
                ul.nav.nav-tabs
                    li.active
                        a(href='#home', data-toggle='tab') Home
                    li
                        a(href='#edit', data-toggle='tab') Edit
                    li
                        a(href='#manage', data-toggle='tab') Manage

                div.tab-content
                    div.tab-pane.fade.in.active#home
                        h3 Welcome to blog administration
                        div#home-number-composed
                    div.tab-pane.fade#edit
                        //
                            div.span3
                                form
                                    fieldset
                                        legend Upload file
                                        .control-group
                                            label.control-label Select file
                                            .controls
                                                input(type='file')
                                        .form-action
                                            button.btn(type='submit') Submit
                                            button.btn(type='reset') Reset
                        div.span9
                            form
                                fieldset
                                    legend Compose
                                    .control-group
                                        label.control-label Title
                                        .controls
                                            input(type='text')
                                    .control-group
                                        label.control-label Custom URL
                                        .controls
                                            input(type='text')
                                    .control-group
                                        label.control-label Content
                                        .controls
                                            textarea.large
                                    div.form-action.controls
                                        button.btn(type='submit') Submit
                                        button.btn(type='reset') Reset

                    div.tab-pane.fade#manage
                        div
                            table.table.table-stripped.table-hover.table-bordered#post-list
                                thead
                                    td(style='width:60%') Title
                                    td(style='width:20%') LastModified
                                    td(style='width:20%') Operation
                                tbody
                                tfoot




        script(type='application/javascript', src='/static/blogcraft.js')
        script(type='application/javascript').
            require('blogcraft/scripts/index');


