include lib/mixin.jade
extends normal-page
block append head
    title= title
block body
    each post in posts
        mixin showPost(post, '/post/' + post._id)
    div.page-navigate
        | [#{meta.page}/#{meta.maxPage}]:
        | [
        a(href='?page=1') &lt;&lt;
        | ]

        | [
        - if (meta.page > 1)
            a(href='?page=' + (meta.page-1)) &lt;
        - else
            | &lt;
        | ]


        - for (var i = meta.startPage; i <= meta.endPage; i++)
            | [
            a(href='?page=' + i) #{i}
            | ]

        | [
        - if (meta.page < meta.maxPage)
            a(href='?page=' + String(Number(meta.page) + 1)) &gt;
        - else
            | &gt;
        | ]
        | [
        a(href='?page=' + meta.maxPage) &gt;&gt;
        | ]

