extends page
block append head
    title= title
block body
    each post in posts
        div.post
            - link = '/post/' + post._id
            h2.title
                a(href=link)= post.title
            div.body!= post.body

