extends page
block append head
    title= title
block body
    each post in posts
        div.post
            h2.title
                a(href='/post/' + post.id)= post.title
            div.body!= post.body

