!!!
html
    head
        block head
        link(type='text/css', rel='stylesheet', href='/css/style.css')
        link(type='text/css', rel='stylesheet', href='/css/highlight.css')
    body
        div.banner
            a.title(href='/') Blogcraft
            block banner
        div.body
            block body
            block sidebar
        div.footer
            p Powered by blogcraft
            block footer
