!!!
html
    head
        block head
    body
        div.banner
            h1
                a(href='/') Nodepress
        hr
        div.body
            block body
        hr
        div.footer
            p Powered by nodepress
