!!!
html
    head
        block head
    body
        div.banner
            h1
                a(href='/') Nodepress
            block banner
        hr
        div.body
            block body
            block sidebar
        hr
        div.footer
            p Powered by nodepress
            block footer
