!!!
html
    head
        block head
        link(type='text/css', rel='stylesheet', href='/css/style.css')
    body
        div.banner
            a.title(href='/') Nodepress
            block banner
        div.body
            block body
            block sidebar
        div.footer
            p Powered by nodepress
            block footer
