include lib/mixin.jade
include lib/markdown-editor.jade
extends normal-page
block append head
    title= post.title
block body
    mixin showPost(post, '/post/' + post._id)
    div#comment
        each comment in post.comments
            .comment
                img.meta.avatar(src='http://www.gravatar.com/avatar/' + comment.emailMD5 + '?s=40')
                .meta.name= comment.name
                .meta.date
                        mixin showDate(comment.createdDate)
                .content!= comment.body
        .compose
            mixin markdownEditor("post", '/post/' + post._id + '/comment')



