
mixin markdownEditor(method, target)
    form.markdown-editor(method=method, action=target)
        div
            label Name
            input(type='text', name='name')
        div
            label Email
            input(type='text', name='email')
        div
            label Website
            input(type='text', name='website')
        div
            label
            textarea.editor(name='body')
        input(type='submit', value='Submit')


